/*--------colour palette--------------*/

/*-----Primary------*/

$DarkBlue: #2d314d;
$LimeGreen: #31d35c;
$BrightCyan: #2bb7da;

/*-----Secondary-----------*/
$GrayishBlue: hsl(233, 8%, 62%);
$LightGrayishBlue: hsl(220, 16%, 96%);
$VeryLightGray: hsl(0, 0%, 98%);
$white: #ffffff;